EXPO_PUBLIC_KEYCLOAK_URL=https://shopisel-keycloak-fly.fly.dev
EXPO_PUBLIC_KEYCLOAK_REALM=shopisel
EXPO_PUBLIC_KEYCLOAK_CLIENT=shopisel-mobile
EXPO_PUBLIC_API_BASE_URL=https://shopisel-gateway-fly.fly.dev/api
DEV_API_PROXY_TARGET=https://shopisel-gateway-fly.fly.dev
DEV_API_PROXY_STRIP_API_PREFIX=false
