EXPO_PUBLIC_KEYCLOAK_URL=https://keycloack-iyww.onrender.com
EXPO_PUBLIC_KEYCLOAK_REALM=shopisel
EXPO_PUBLIC_KEYCLOAK_CLIENT=shopisel-mobile
EXPO_PUBLIC_API_BASE_URL=https://<gateway-url>.onrender.com/api
DEV_API_PROXY_TARGET=https://<gateway-url>.onrender.com
DEV_API_PROXY_STRIP_API_PREFIX=false
